<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书共享网站</title>
    <link rel="stylesheet" href="SITE_URL/static/css/book.css">
    <link rel="stylesheet" href="SITE_URL/static/css/bootstrap.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <link rel="stylesheet" href="SITE_URL/static/css/jquery-ui-1.8.21.custom.css.css">
    <link rel="shortcut icon" type="image/x-icon" href="SITE_URL/static/image/ic.png">
    <style>
        @font-face {
            font-family: 'Glyphicons Halflings';

            src: url('http://www.answer2c.cn/static/fonts/glyphicons-halflings-regular.eot');
            src: url('http://www.answer2c.cn/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://www.answer2c.cn/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://www.answer2c.cn/static/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'),
            url('http://www.answer2c.cn/static/fonts/glyphicons-halflings-regular.woff2') format('woff2'),url('http://www.answer2c.cn/static/fonts/glyphicons-halflings-regular.woff') format('woff');
        }
        .showbook{
            width:100px;
            height:200px;
        }
        body{
            overflow-x:hidden;
        }

        #touxiang{
            height:50px !important;
        }


    </style>

</head>
<body>


<!-- 导航栏 -->
<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="mytitle" class="nav-brand">BookShare</span>
            <button class="navbar-toggle" data-target=".hidemenu" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse hidemenu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{:url('/book/manage/index')}">首页</a></li>
                <li  class="active"><a href="{:url('/book/manage/bookmanage')}">书籍管理</a></li>
                <li><a href="{:url('/book/manage/usermanage')}">用户管理</a></li>
                <li><a href="{:url('/book/manage/commentmanage')}">评论管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {$loginMess}

            </ul>

        </div>
    </div>

</nav>
<br><br><br><br><br>
<!-- 导航栏结束 -->

<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>书名</th>
            <th>作者</th>
            <th>ISBN</th>
            <th>出版社</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $book_infos as $book_info}
        <tr>
            <th>{$book_info['bookname']}</th>
            <th>{$book_info['author']}</th>
            <th>{$book_info['isbn']}</th>
            <th>{$book_info['publisher']}</th>
            <th>
                {if condition="($book_info['status'] == 1)"}
                    {if ($book_info['borrowing'] != 1)}
                        <button class="btn btn-default btn-warning"  data-toggle="modal" data-target=".xiajia" id="xiajia" bookname="{$book_info['bookname']}" bookisbn="{$book_info['isbn']}">下架</button>
                    {else /}
                       <button class="btn btn-default btn-warning"  data-toggle="modal" data-target=".xiajia" id="xiajia" bookname="{$book_info['bookname']}" bookisbn="{$book_info['isbn']}" disabled>下架</button>
                    {/if}
                {else /}
                <button class="btn btn-default btn-success" onclick="pass({$book_info['isbn']})">审核通过</button>
                {/if}
            </th>
        </tr>
        {/foreach}
        </tbody>
        <tfoot></tfoot>
    </table>

</div>




<!-- 登录模块 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">登录</h4>
            </div>
            <form action="/book/index/login" method="post" class="form-horizontal">
                <div class="modal-body">

                    <div class="form-group">

                        <label for="username" class="col-xs-5 col-sm-3 control-label">用户名：</label>
                        <div class="col-xs-8 col-sm-5">
                            <input type="text" id="username" class="form-control" name="username" placeholder='username'>
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="pwd" class="col-xs-5 col-sm-3 control-label">密码：</label>
                        <div class="col-xs-8 col-sm-5">
                            <input type="password" id="pwd" class="form-control" name="pwd" placeholder='password'>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>





<div class="modal fade xiajia" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">下架书籍</h4>
            </div>
            <form action="" method="post" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username" class="col-xs-5 col-sm-3 control-label" >书籍名称：</label>
                        <div class="col-xs-8 col-sm-5">
                            <input type="text" name="bookname" id="bookname" class="form-control" value="" readonly>
                        </div>
                    </div>
                    <input type="hidden" id="bookisbn" >
                    <div class="form-group">
                        <label for="username" class="col-xs-5 col-sm-3 control-label">下架原因：</label>
                        <div class="col-xs-8 col-sm-5">
                            <textarea name="reason" id="reason" cols="50" rows="10" placeholder="请输入下架原因.."></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="block()">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>



<script src="SITE_URL/static/js/myjs1.js"></script>
<script src="SITE_URL/static/js/jquery-3.2.1.js"></script>
<script src="SITE_URL/static/js/bootstrap.min.js"></script>
<script>


    $("#xiajia").click(function(){
        var bookname = $(this).attr("bookname");
        var bookisbn = $(this).attr("bookisbn");
        $("#bookname").val(bookname);
        $("#bookisbn").val(bookisbn);
    })

    function block()
    {
            var isbn = $("#bookisbn").val();
            var content = $("#reason").val();
            $.ajax({
                url:"/book/manage/ajaxBlock",
                data:{"isbn" : isbn,
                      "content" : content
                },
                type: "post",
                dataType:"json",
                success:function(result){
                    alert(result.msg);
                    if(result.status == "OK"){
                        window.location.reload();
                    }
                },
                error:function(){
                    alert("操作失败");
                }

            })

    }



    function pass(isbn){
        var if_pass = window.confirm("您确定要审核通过这本书吗？");
        if(if_pass == true){
            $.ajax({
                url:"/book/manage/ajaxPass",
                type:"post",
                dataType:"json",
                data:{"isbn" : isbn},
                success:function(result){
                    alert(result.msg);
                    if(result.status == "OK"){
                        window.location.reload();
                    }
                },
                error:function(){
                    alert("操作失败");
                }
            })
        }
    }
</script>
</body>
</html>