<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书共享网站</title>
    <link rel="stylesheet" href="SITE_URL/static/css/book.css">
    <link rel="stylesheet" href="SITE_URL/static/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="SITE_URL/static/image/ic.png">
    <style>

        .showbook{
            width:100px;
            height:200px;
        }
        body{
            overflow-x:hidden;
        }

    </style>

</head>
<body>




<!-- 导航栏 -->
<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="mytitle" class="nav-brand">BookShare</span>
            <button class="navbar-toggle" data-target=".hidemenu" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse hidemenu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{:url('/book/manage/index')}">首页</a></li>
                <li><a href="{:url('/book/manage/bookmanage')}">书籍管理</a></li>
                <li  class="active"><a href="{:url('/book/manage/usermanage')}">用户管理</a></li>
                <li><a href="{:url('/book/manage/commentmanage')}">评论管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {$loginMess}

            </ul>

        </div>
    </div>

</nav>
<br><br><br><br><br>
<!-- 导航栏结束 -->
<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>用户名</th>
            <th>注册时间</th>
            <th>证件号码</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $user_infos as $user_info}
        <tr  username="{$user_info['username']}" tel="{$user_info['tel']}" email="{$user_info['email']}">
            <th><a href="javascript:void(0)" class="moreinfo" data-toggle="modal" data-target=".userdetail">{$user_info['username']}</a></th>
            <th>{$user_info['regitime']}</th>
            <th>{$user_info['idnum']}</th>
            <th>{$user_info['address']}</th>
            <th>
                {if condition="($user_info['status'] == 1)"}
                <button class="btn btn-default btn-warning block">拉黑</button>
                {else /}
                <button class="btn btn-default btn-success recover" >恢复</button>
                {/if}
            </th>
        </tr>
        {/foreach}
        </tbody>
    </table>

</div>



<div class="modal fade userdetail" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">更多信息</h4>
            </div>
            <form action="" method="post" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usertel" class="col-xs-5 col-sm-3 control-label" >用户联系方式：</label>
                        <div class="col-xs-8 col-sm-5">
                            <input type="text" name="usertel" id="usertel" class="form-control" value="" readonly>
                        </div>
                    </div>
                    <input type="hidden" id="bookisbn" >
                    <div class="form-group">
                        <label for="useremail" class="col-xs-5 col-sm-3 control-label">用户电子邮箱：</label>
                        <div class="col-xs-8 col-sm-5">
                            <input type="text" name="useremail" id="useremail" class="form-control" value="" readonly>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<!-- 登录模块 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">登录</h4>
            </div>
            <form action="/book/index/login" method="post" class="form-horizontal">
                <div class="modal-body">

                    <div class="form-group">

                        <label for="username" class="col-xs-5 col-sm-3 control-label">用户名：</label>
                        <div class="col-xs-8 col-sm-5">
                            <input type="text" id="username" class="form-control" name="username" placeholder='username'>

                        </div>
                    </div>

                    <div class="form-group">

                        <label for="pwd" class="col-xs-5 col-sm-3 control-label">密码：</label>
                        <div class="col-xs-8 col-sm-5">
                            <input type="password" id="pwd" class="form-control" name="pwd" placeholder='password'>

                        </div>
                    </div>






                </div>

                <div class="modal-footer">
                    <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101458359&redirect_uri={$redirect_uri}&scope=get_user_info&state=12" >
                        <img src="SITE_URL/static/image/qqs_login.png">
                    </a>


                    <input type="submit" class="btn btn-primary" value="登录">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                </div>

            </form>
        </div>
    </div>
</div>







<script src="SITE_URL/static/js/myjs1.js"></script>
<script src="SITE_URL/static/js/jquery-3.2.1.js"></script>
<script src="SITE_URL/static/js/bootstrap.min.js"></script>
<script>


   $(".block").click(function(){
       var if_block = window.confirm("您确定要拉黑该用户吗？");
       var username = $(this).parent().parent().attr("username");
       if (if_block == true){
           $.ajax({
               url:"/book/manage/blockUser",
               type : "post",
               dataType : "json",
               data : { "username" : username},
               success:function(result){
                   alert(result.msg);
                   if(result.status == "OK"){
                       window.location.reload();
                   }
               },
               error:function(){
                   alert('操作失败');
               }

           })
       }

   })


    $(".recover").click(function () {
        var if_recover = window.confirm("您确定要恢复该用户吗？");
        var username = $(this).parent().parent().attr("username");
        if (if_recover == true){
            $.ajax({
                url:"/book/manage/recoverUser",
                type : "post",
                dataType : "json",
                data : { "username" : username},
                success:function(result){
                    alert(result.msg);
                    if(result.status == "OK"){
                        window.location.reload();
                    }
                },
                error:function(){
                    alert('操作失败');
                }

            })
        }
    })


    $(".moreinfo").click(function(){
        var tel = $(this).parent().parent().attr("tel");
        var email = $(this).parent().parent().attr("email");
        $("#usertel").val(tel);
        $("#useremail").val(email);
    })

</script>
</body>
</html>