
*{
 margin:0px;
 padding:0px;
}

body{
 background-color:rgb(207, 207, 207);
 overflow-x:hidden;
}
nav{
 background-color:rgb(82, 82, 235);
 margin-bottom:0px !important;
     }

 #mytitle{
     padding:15px;
     margin:20px;
     font-size:22px;
     color:rgb(205, 205, 207);

 }
 .navbar-header{
     padding-top:10px;
 }

 #ulnav>li>a{
   font-size: 16px;
   color:rgb(209, 209, 209);
 }
 #ulnav>li>a:hover{
   color:rgb(71, 71, 226);
 }
 .navbar-brand{
   font-size:20px;
   color:rgb(207, 204, 204);
 }
 

 
 .banner-img{
     padding:0px;
     margin:0px;
 }
 .tip{
     display: inline-block;
     height:30px;
     width:150px;
     color:red;
 }
 .form-group {
    /* 默认值 margin-bottom: 15px; */
    /* margin-bottom: 35px; */
    margin-top:10px !important;
  }
        
  #touxiang{
    display: inline-block;
    width:150px;
    height:30px;
   
  }
  #touxiang img{
    display: inline-block;
    width:30px;
    height:30px;
    border-radius:50px;
    margin-right:10px;
    }


