<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎注册</title>

    <link rel="stylesheet" href="SITE_URL/static/css/book.css">
    <link rel="stylesheet" href="SITE_URL/static/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="SITE_URL/static/image/ic.png">
</head>
<body>




<!-- 导航栏 -->
<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="mytitle" class="nav-brand">BookShare</span>
            <button class="navbar-toggle" data-target=".hidemenu" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse hidemenu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{:url('/book')}">首页</a></li>
                <li><a href="{:url('/book/index/lend')}">借书</a></li>
                <li><a href="{:url('/book/index/returnbook')}">还书</a></li>
                <li><a href="{:url('/book/index/mybook/view/nolended')}">我的书籍</a></li>
                <li><a href="{:url('/book/index/upload')}">上传书籍</a></li>
                <li class="dropdown" >
                    <a href="http://" data-toggle="dropdown" class="dropdown-toggle" >帮助
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/book/index/process" >借书流程</a></li>
                        <li class="divider"></li>
                        <li><a href="/book/index/question">常见问题</a></li>

                    </ul>


                </li>


            </ul>


        </div>
    </div>

</nav>
<!-- 导航栏结束 -->



<div class="container">
<h3>请完善您的信息：</h3>
    <form action="" method="post" class="form-horizontal" id="myform">

        <input type="text" hidden value="{$nickname}" id="nickname">
        <input type="text" hidden value="{$openid}"  id="openid">
        <input type="text"  value="{$touxiang}" id="touxiang" hidden style="display: none">
        <div class="form-group">

            <label for="tel" class="col-xs-5 col-sm-3 control-label">电话号码：</label>
            <div class="col-xs-8 col-sm-5">
                <input type="text" id="tel" class="form-control" name="tel" placeholder='telephone number'>
                <span class="tip"></span>

            </div>
        </div>

        <div class="form-group">

            <label for="address" class="col-xs-5 col-sm-3 control-label">地址：</label>
            <div class="col-xs-8 col-sm-5">
                <input type="text" id="address" class="form-control" name="address" placeholder='Address info'>
                <span class="tip"></span>
            </div>
        </div>

        <div class="form-group">

            <label for="idnum" class="col-xs-5 col-sm-3 control-label">证件号码：</label>
            <div class="col-xs-8 col-sm-5">
                <input type="text" id="idnum" class="form-control" name="idnum" placeholder='ID NUMBER'>
                <span class="tip"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-sm-2 col-xs-3">
                <input type="button" name="sub" value="确认" id="sub" class="btn btn-success" >
            </div>
            <div class="col-sm-4 col-xs-3">
                <input type="reset" value="重置" class="btn btn-danger">
            </div>
        </div>

    </form>







</div>








<script src="SITE_URL/static/js/jquery-3.2.1.js"></script>
<script src="SITE_URL/static/js/bootstrap.min.js"></script>
<script>
    $("input").blur(function(){
        if($(this).val()==""){
            $(this).next().html("不能为空");
        }else{
            $(this).next().html("");
        }
    })

    $("#tel").blur(function(){
        //验证手机号
        var pat1 = /^[1][3,4,5,7,8][0-9]{9}$/;
        if (!pat1.test($("#tel").val())){
            $("#tel").next().html("请输入正确的格式的电话号码");
        }else{
            $("#tel").next().html("");
        }
    })

    $("#email").blur(function(){
        //验证邮箱
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if(!myreg.test($("#email").val())){
            $("#email").next().html("请输入正确格式的电子邮箱");
        }else{
            $("#email").next().html("");
        }
    })

    $("#sub").click(function(){
        var tag=1;

        $("input").each(function(){
            if($(this).val() == ""){
                tag = 0;
                alert("请将信息填写完整！");
                return false;
            }
        })

        $(".tip").each(function(){
            if($(this).val()!=""){
                tag=0;
            }
        });

        if(tag == 1){
            var username = $("#openid").val();
            var tel = $("#tel").val();
            var address = $("#address").val();
            var idnum = $("#idnum").val();
            var touxiang = $("#touxiang").val();
            var nickname = $("#nickname").val();
            $.ajax({
                url:"/book/index/addQQuser",
                type:"POST",
                dataType:"json",
                data:{ "username" : username ,
                        "tel"     : tel,
                        "address" : address,
                        "idnum"   : idnum,
                        "touxiang": touxiang,
                        "nickname": nickname
                },
                success:function(data){
                    if(data.status == "OK"){
                        alert(data.msg);
                        window.location.href = "/book";
                    }else{
                        alert(data.msg);
                        window.location.href="/book/index/logout";
                    }
                },
                error:function(data){
                    alert("操作失败");
                    window.location.href="/book/index/logout";
                }
            })

        }else{
            return false;
        }

    })

</script>
</body>
</html>