<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>书籍详情</title>

    <link rel="stylesheet" href="SITE_URL/static/css/book.css">
    <link rel="stylesheet" href="SITE_URL/static/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="SITE_URL/static/image/ic.png">
    <style>
        #bookphoto{
            display: inline-block !important;
            width:200px !important;
            height:300px !important;
        }
        .booktag{
            margin-right:8px;
        }
        .showbook{
            width:200px;
            height:270px !important;
        }
        .book_module{
            height:200px;
        }

        .book_btn{
            position:absolute;
            bottom:0px;
        }

        .b1{
            position: relative !important;
        }
        .test{
            background-color: white;
        }

        .page_btn{
            cursor: pointer !important;
        }

        a{
            text-decoration: none;
        }

    </style>
</head>
<body>




<!-- 导航栏 -->
<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="mytitle" class="nav-brand">BookShare</span>
            <button class="navbar-toggle" data-target=".hidemenu" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse hidemenu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{:url('/book')}">首页</a></li>
                <li><a href="{:url('/book/index/lend')}">借书</a></li>
                <li><a href="{:url('/book/index/returnbook')}">还书</a></li>
                <li class="active"><a href="{:url('/book/index/mybook/view/nolended')}">我的书籍</a></li>
                <li><a href="{:url('/book/index/upload')}">上传书籍</a></li>
                <li class="dropdown" >
                    <a href="http://" data-toggle="dropdown" class="dropdown-toggle" >帮助
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/book/index/process" >借书流程</a></li>
                        <li class="divider"></li>
                        <li><a href="/book/index/question">常见问题</a></li>

                    </ul>


                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                {$loginMess}
            </ul>

        </div>
    </div>

</nav>
<!-- 导航栏结束 -->
<br>





<div class="container">
    <div class="row">
        {if ($view == "islended")}
        <h4><a href="/book/index/mybook/view/nolended">已上传的书</a>/<span style="color:darkgray">已借出的书</span></h4>
        {else /}
        <h4><span style="color:darkgray">已上传的书</span>/<a href="/book/index/mybook/view/islended">已借出的书</a></h4>
        {/if}
    </div>
    <h4>共{$total}本</h4>



    <hr>
    <div class="row">
    {foreach $bookdata as $value}
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail b1 book_module">
            <div class="caption" >
            <h3>{$value->bookinfo['bookname']}</h3>
            <p>作者：{$value->bookinfo['author']}</p>
                <p>上传时间：{$value->upload_time}</p>
                {if ($view == "islended")}
                <p class="book_btn"><a href="/book/index/" class="btn btn-primary" role="button">确认已归还</a> </p>
                {else /}
                    <p class="book_btn"><a href="#" class="btn btn-primary" role="button" onclick="xiajia('{$username}',{$value->bookinfo['isbn']})">下架</a> </p>
                {/if}

            </div>
        </div>
    </div>
    {/foreach}
    </div>
    {if ($total > 0)}
    <nav aria-label="..." class="test">
        <ul class="pagination">
            {$pagelist}
        </ul>
    </nav>
    {/if}
</div>






<script src="SITE_URL/static/js/jquery-3.2.1.js"></script>
<script src="SITE_URL/static/js/bootstrap.min.js"></script>
<script src="SITE_URL/static/js/upload.js"></script>
<script>
    function xiajia(username,isbn){
        var ans = window.confirm("您确定不再分享这本书吗？");
        if(ans == true){
            $.ajax({
                url:"/book/index/xiajia",
                type:"post",
                dataType:"json",
                data:{"username" : username,
                    "isbn"     : isbn
                },
                success:function(data){
                    alert(data.msg);
                    if(data.status == "OK"){
                        window.location.reload();
                    }
                },
                error:function(){
                    alert('操作失败');
                }
            })

        }
    }



</script>
</body>
</html>