<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎注册</title>
    <link rel="stylesheet" type="text/css" href="SITE_URL/static/css/verify.css">
    <link rel="stylesheet" href="SITE_URL/static/css/book.css">
    <link rel="stylesheet" href="SITE_URL/static/css/bootstrap.css"> 
    <link rel="shortcut icon" type="image/x-icon" href="SITE_URL/static/image/ic.png">
    <script src="../../../../../../../../../../../../../Desktop/jq22verify-master9860201711051127/verify-master/js/verify.js"></script>
</head>
<body>



     
        <!-- 导航栏 -->
        <nav class="navbar navbar-static-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span id="mytitle" class="nav-brand">BookShare</span>
                    <button class="navbar-toggle" data-target=".hidemenu" data-toggle="collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="collapse navbar-collapse hidemenu">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="{:url('/book')}">首页</a></li>
                            <li><a href="{:url('/book/index/lend')}">借书</a></li>
                            <li><a href="{:url('/book/index/returnbook')}">还书</a></li>
                            <li><a href="{:url('/book/index/mybook')}">我的书籍</a></li>
                            <li><a href="{:url('/book/index/upload')}">上传书籍</a></li>
                            <li class="dropdown" >
                                <a href="http://" data-toggle="dropdown" class="dropdown-toggle" >帮助
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class=""><a href="#" >借书流程</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">常见问题</a></li>
                                
                                </ul>
                            
                            
                            </li>
                           

                        </ul>
                      
                   
                </div>
            </div>

    </nav>
 <!-- 导航栏结束 -->

 
 
 <div class="container">
                   
    <form action="/book/index/adduser" method="post" class="form-horizontal" id="myform">
        <div class="form-group has-feedback ">
            
               <label for="username" class="col-xs-5 col-sm-3 control-label">用户名：</label>
               <div class="col-xs-8 col-sm-5">
                <input type="text" id="username" class="form-control ajaxcheck" name="username" placeholder='username'>
                 
                    <span class="tip" id="nametip"></span>
               </div>                           
        </div>

        <div class="form-group">
            
            <label for="pwd" class="col-xs-5 col-sm-3 control-label">密码：</label>
            <div class="col-xs-8 col-sm-5">
                <input type="password" id="pwd" class="form-control" name="pwd" placeholder='password'>
                <span class="tip"></span>
            </div>                 
        </div>

        <div class="form-group">
            
            <label for="pwd-c" class="col-xs-5 col-sm-3 control-label">确认密码：</label>
            <div class="col-xs-8 col-sm-5">
            <input type="password" id="pwd-c" class="form-control" name="pwd-c" placeholder='password'>
            <span class="tip"></span>
            </div>                 
        </div>

        <div class="form-group">
            <label for="" class="col-xs-3 col-sm-3 control-label">性别：</label>
           
            <div class="radio col-xs-2">
                <label>
                <input type="radio" name="sex" id="sex" value="male" checked>男
                
                </label>

            </div>
            <div class="radio col-xs-2">
                <label>
                <input type="radio" name="sex" id="sex" value="female" >女
                
                </label>

            </div>
            <span class="tip"></span>

        </div>

        
        <div class="form-group">
            
            <label for="tel" class="col-xs-5 col-sm-3 control-label">电话号码：</label>
            <div class="col-xs-8 col-sm-5">
            <input type="text" id="tel" class="form-control" name="tel" placeholder='telephone number'>
            <span class="tip"></span>

            </div>                 
        </div>

        <div class="form-group">
            
            <label for="email" class="col-xs-5 col-sm-3 control-label" >电子邮箱：</label>
            <div class="col-xs-8 col-sm-5">
            <input type="text" id="email" class="form-control" name="email" placeholder='email'>
            <span class="tip"></span>

            </div>                 
        </div>

        <div class="form-group">
            
            <label for="idnum" class="col-xs-5 col-sm-3 control-label">证件号码：</label>
            <div class="col-xs-8 col-sm-5">
            <input type="text" id="idnum" class="form-control" name="idnum" placeholder='ID NUMBER'>
            <span class="tip"></span>
            </div>                 
        </div>
        <div class="form-group">

            <label for="idnum" class="col-xs-5 col-sm-3 control-label">验证码：</label>
            <div class="col-xs-8 col-sm-5">
                <div id="mpanel3" style="margin-top: 20px">
                </div>
                <span class="tip"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-sm-2 col-xs-3">
            <input type="button" name="sub" value="确认" id="sub" class="btn btn-success" >
            </div>
            <div class="col-sm-4 col-xs-3">
            <input type="reset" value="重置" class="btn btn-danger">
            </div>
        </div>

    </form>
    





  
</div> 






   
    
    <script src="SITE_URL/static/js/jquery-3.2.1.js"></script>
    <script src="SITE_URL/static/js/bootstrap.min.js"></script>
    <script src="SITE_URL/static/js/myjs1.js"></script>
        <script type="text/javascript" src="SITE_URL/static/js/verify.js" ></script>
    <script>
            
       $("#username").blur(function(){
         
            $.ajax({
                type:"POST",
                url:"http://www.answer2c.cn/book/index/ajaxcheck",
                data:{username:"ybc"},
                success:function(data){
                    alert('s');
                },
                cache:false
            });
       });
       $('#mpanel3').codeVerify({
           type : 2,
           figure : 100,	//位数，仅在type=2时生效
           arith : 0,	//算法，支持加减乘，不填为随机，仅在type=2时生效
           width : '200px',
           height : '50px',
           fontSize : '30px',
           btnId : 'check-btn2',
           ready : function() {
           },
           success : function() {
               alert('验证匹配！');
           },
           error : function() {
               alert('验证码不匹配！');
           }
       });

    </script>
</body>
</html>