<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>还书</title>

    <link rel="stylesheet" href="SITE_URL/static/css/book.css">
    <link rel="stylesheet" href="SITE_URL/static/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="SITE_URL/static/image/ic.png">
    <style>
        #bookphoto{
            display: inline-block !important;
            width:100px !important;
            height:150px !important;
        }
        .booktag{
            margin-right:8px;
        }
        .showbook{
            width:200px;
            height:270px !important;
        }
        .book_module{
            height:250px;
        }

        .book_btn{
            position:absolute;
            bottom:0px;
        }

        .b1{
            position: relative !important;
        }
        .test{
            background-color: white;
        }

        .page_btn{
            cursor: pointer !important;
        }

    </style>
</head>
<body>




<!-- 导航栏 -->
<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="mytitle" class="nav-brand">BookShare</span>
            <button class="navbar-toggle" data-target=".hidemenu" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse hidemenu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{:url('/book')}">首页</a></li>
                <li><a href="{:url('/book/index/lend')}">借书</a></li>
                <li class="active"><a href="{:url('/book/index/returnbook')}">还书</a></li>
                <li><a href="{:url('/book/index/mybook/view/nolended')}">我的书籍</a></li>
                <li><a href="{:url('/book/index/upload')}">上传书籍</a></li>
                <li class="dropdown" >
                    <a href="http://" data-toggle="dropdown" class="dropdown-toggle" >帮助
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/book/index/process" >借书流程</a></li>
                        <li class="divider"></li>
                        <li><a href="/book/index/question">常见问题</a></li>

                    </ul>


                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                {$loginMess}
            </ul>

        </div>
    </div>

</nav>
<!-- 导航栏结束 -->


<br><br>
<div class="container">
    <div class="row"><h3>我借阅的书：</h3></div>
</div>
<hr>
<div class="container">
    共借{$total}本书
    <div class="row">
        {foreach $borrow_info as $value}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail book_module  b1">
                <div class="caption" >
                    <h3>{$value['bookname']}</h3>
                    <p>上传者：{$value['upload_user']}</p>
                    <p>借书时间：{$value['borrow_time']}</p>
                    <p class="book_btn"><a href="" class="btn btn-primary" role="button" onclick="returnbook({$value['share_id']})">归还</a> </p>
                </div>
            </div>
        </div>
        {/foreach}
    </div>



    {if ($total > 0)}
    <nav aria-label="..." class="test">
        <ul class="pagination">
            {$pagelist}
        </ul>
    </nav>
    {/if}

</div>








<script src="SITE_URL/static/js/jquery-3.2.1.js"></script>
<script src="SITE_URL/static/js/bootstrap.min.js"></script>
<script src="SITE_URL/static/js/upload.js"></script>
<script>
    function returnbook(sid){
        var con = window.confirm("您确定归回该书籍吗？");
        if (con == true){
            $.ajax({
                url:"/book/index/returnconfirm?share_id="+sid,
                type:"GET",
                dataType:"json",
                success:function(data){
                    alert(data.msg);
                    if(data.status == "OK"){
                        window.location.reload();
                    }
                },
                error:function(){
                    alert("操作失败");
                }
            })
        }
    }

</script>
</body>
</html>